source https://www.nuget.org/api/v2
source https://api.nuget.org/v3/index.json
storage: none
nuget FSharp.Core 5.0.1
nuget Expecto 8.7
nuget Fable.Mocha
nuget Fable.Core
nuget SourceLink.Create.CommandLine 2.8.1 copy_local: true
nuget YoloDev.Expecto.TestSdk 0.7.0
nuget Microsoft.NET.Test.Sdk 15.7.2
nuget altcover 6.6.747

nuget NpgSql
nuget Marten
nuget Microsoft.Extensions.Logging

// [ FAKE GROUP ]
group Build
    storage: none
    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    nuget Fake.IO.FileSystem 5.22.0
    nuget Fake.Core.Target 5.22.0
    nuget Fake.Core.ReleaseNotes 5.22.0
    nuget FAKE.Core.Environment 5.22.0
    nuget Fake.DotNet.Cli 5.22.0
    nuget FAKE.Core.Process 5.22.0
    nuget Fake.DotNet.AssemblyInfoFile 5.22.0
    nuget Fake.Tools.Git 5.22.0
    nuget Fake.DotNet.Paket 5.22.0
    nuget Fake.Api.GitHub 5.22.0
    nuget Fake.BuildServer.GitHubActions 5.22.0
    nuget Argu
    nuget Octokit
    nuget MSBuild.StructuredLogger 2.1.545
    nuget Fake.JavaScript.Npm
